{% extends 'data/base.html' %}

{% block content %}
<div class="container w-75 m-auto" style="padding-top: 4%;">
    <div class="mt-5">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Modified</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for table in tables %}
            <tr>
                <th scope="row">1</th>
                <td>{{ table }}</td>
                <td>2020-03-16</td>
                <td>
                    <a href="{% url 'detail' table %}">View</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}