{% extends 'data/base.html' %}

{% block content%}
{{ table_name }}

<form class="Form" name="form" role="form" method="post" enctype="multipart/form-data" action="{% url 'detail' table_name %}" style="padding-top: 10%;">
  {% csrf_token %}
    {% for coldesc in col_namedesc %}
      <div class="form-check form-check-inline">-->
        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="column" value="{{ coldesc }}">
        <label class="form-check-label" for="inlineCheckbox1">{{ coldesc }}</label>
      </div>
    {% endfor %}
<!--    {% for colname, coldesc in col_namedesc.items %}-->
<!--      <div class="form-check form-check-inline">-->
<!--        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="column" value="{{ colname }}">-->
<!--        <label class="form-check-label" for="inlineCheckbox1">{{ coldesc }}</label>-->
<!--      </div>-->
<!--    {% endfor %}-->
  <button type="submit">Apply</button>
</form>


<form class="Form" name="form" role="form" method="post" enctype="multipart/form-data" action="{% url 'export' table_name %}">
  {% csrf_token %}
  <button type="submit" name="{{table_name}}">Download</button>
</form>

<!--{% if query %}-->
<!--  {% for obj in query %}-->
<!--        <p>{{obj.0}}</p>-->
<!--  {% endfor %}-->
<!--{% endif %}-->
{% if json_data %}
  <table class="table table-striped">
    <tr class="bg-info">
      {% for col in column_names %}
        <th>{{ col }}</th>
      {% endfor %}
    </tr>
    <tbody id="myTable">

    </tbody>
  </table>
{% endif %}

<script>
  var myJson = {{ json_data|safe }}
  var columnslist = {{ column_names|safe }}
  buildTable(myJson, columnslist)


  function buildTable(data, columnlist){
    var table = document.getElementById('myTable')

    for (var i = 0; i < data.length; i++){
      var row = `<tr>`
      for (var j = 0; j < columnlist.length; j++){
        row += `<td>${data[i][columnlist[j]]}</td>`
      }
      row += `</tr>`

      // var row = `<tr>
      //               <td>${i}</td>
      //           </tr>`
      table.innerHTML += row
    }
  }
</script>

{% endblock %}